@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  background: linear-gradient(
      217deg,
      rgba(248, 178, 113, 0.9),
      rgba(248, 178, 113, 0) 50%
    ),
    linear-gradient(107deg, rgba(240, 142, 62, 0.9), rgba(240, 142, 62, 0) 70%),
    linear-gradient(
      336deg,
      rgba(158, 236, 105, 0.9),
      rgba(158, 236, 105, 0) 60%
    );
}
p {
  text-align: justify;
}

a {
  text-decoration: none !important;
}

container a:hover {
  color: crimson !important;
}

i {
  color: orange !important;
}
/* globals */

/* .content-box {
} */

.about-img {
  max-height: 320px;
  max-width: 480px;
  overflow: hidden;
}

.image-effect img:hover {
  filter: drop-shadow(0px 0px 10px orange);
}

i,
img {
  transition: all 200ms;
}
/* .social-box a:hover i {
  transform: scale(1.25);
} */

i:hover {
  transform: scale(1.25);
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  padding-top: 15px;
  color: #f08e3e;
}
