@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: midnightblue; */
}

p {
  text-align: justify;
}

a {
  text-decoration: none !important;
}

container a:hover {
  color: crimson !important;
}

i {
  color: orange !important;
}
/* globals */

.content-box {
}

.about-img {
  max-height: 320px;
  max-width: 480px;
  overflow: hidden;
}

.image-effect img:hover {
  /* filter: blur(2px); */
  filter: drop-shadow(0px 0px 10px orange);
  /* filter: grayscale(20%); */
}
