@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  /* background-color: midnightblue; */
}

a {
  text-decoration: none !important;
}

container a:hover {
  color: purple !important;
}

i {
  color: orange !important;
}
/* globals */

.content-box {
}
